.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px+20mvax;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: burlywood;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  
  h1{
    margin-top: 0;
  }
}

.buttons {
  display: flex;
  gap: 100px;
}

.button {
  padding: 50px 70px;
  padding: 50px 70px;
  background-color: green;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

.home-button {
  margin-bottom: 20px; /* 홈 버튼과 다른 버튼 사이에 간격을 주기 위해 추가 */
}

.home-button .button {
  padding: 10px 20px; /* 홈 버튼 크기 10px 높이, 20px 너비로 유지 */
  font-size: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group input {
  margin-right: 10px;
}

.plus-button {
  width: 20px;
  height: 20px;
  font-size: 16px;
  cursor: pointer;
}
.parcel-list {
  border: 1px solid black;
  width: 500px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}

.parcel-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.parcel-item span {
  flex: 1;
}

.parcel-item span.info-label{
  color: #777;
  min-width: 70px;
  text-align: right;
}
.button-group {
  display: flex;
  gap: 20px;
}

.register-button {
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}